
<template name="home">


<!--     <div class="jumbotron text-center">
   	 	<h1>Welcome to ilendbooks</h1>
   	 	<p> We provide the most effificent and fun services in order to stimulate textbook exchange among students at the University of Washington. </p>
   	 	<p><a href="{{pathFor route='signup'}}"> Create an account today! </a></p>
	</div> -->
    <div class="banner">
      <div class="bg-color">
        <div class="container">
          <div class="row">
            <div class="banner-text text-center">
              <div class="text-border">
                <h2 class="text-dec">Welcome to ilendbooks</h2>
              </div>
              <div class="intro-para text-center quote">
                <p class="big-text">Learning Today . . . Leading Tomorrow.</p>
                <p class="small-text">We provide the most effificent and fun services in order to stimulate textbook exchange among students at the University of Washington.</p>
                <a href="{{pathFor route='signup'}}"> Create an account today! </a>
              </div>
              <a href="#feature" class="mouse-hover"><div class="mouse"></div></a>
            </div>
          </div>
        </div>
      </div>
    </div>
   
</template>
