<template name="navigation">
    <ul>
        <li><a href="{{pathFor route='signup'}}" class="signup">Sign up to borrow!</a></li>
         {{#if currentUser}}
        <li><a href="#" class="logout">Logout</a></li>
    	{{/if}}
        {{#unless currentUser}}
        <li><a href="{{pathFor route='login'}}" class="login">Login</a> to borrow if you're already a member!</li>
        {{/unless}}
        <li><a href="{{pathFor route='bookSearch'}}" class="bookSearch">Search for books</a></li>
    </ul>
</template>